@page "/"
@page "/WardrobeInventoryList"
@using Wardrobe_Inventory.Components.WardrobeComponents


@if (IsLoading)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading"/>
    </div>
}
else
{
    <h1>Wardrobe Inventory</h1>
    <br/>

    <div>
        <SearchBox Items="_allItems" OnSearch="@UpdateFilteredItems"></SearchBox>
    </div>

    <br/>

    if (_filteredItemsByName.Any())
    {
        <table class="table table-responsive table-hover table-custom">
            <thead class="text-center">
            <tr>
                <th>Name</th>
                <th colspan="5">Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in _filteredItemsByName)
            {
                <tr @key="item.Id">
                    <td>@item.Name</td>
                    <td>@item.Category.ToString()</td>
                    <td>@item.Brand</td>
                    @if (item.Category == ClothingCategory.Sneakers || item.Category == ClothingCategory.Boots)
                    {
                        <td>@item.ShoeSize</td>
                    }
                    else if (item.Category == ClothingCategory.Jeans)
                    {
                        <td>@item.JeansWaist/@item.JeansInseam</td>
                    }
                    else
                    {
                        <td>@item.ShirtSize</td>
                    }
                    <td>@item.Color</td>
                    <td style="width: 10%">
                        <button type="button" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No clothing items found.</p>
    }
}


@code {
    [Inject] public IClothingItemService ClothingItemService { get; set; }

    private readonly List<ClothingItem> _allItems = new();

    private IEnumerable<ClothingItem> _filteredItemsByName;

    private bool IsLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var items = await LoadClothingItems();

        _filteredItemsByName = items.ToList();

        IsLoading = false;
    }

    private async Task<List<ClothingItem>> LoadClothingItems()
    {
        return await ClothingItemService.GetAllClothingItemsAsync();
    }

    private void UpdateFilteredItems(string searchTerm)
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            _filteredItemsByName = _allItems.ToList();
        }
        else
        {
            _filteredItemsByName = _allItems.Where(c => c.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }

}